:root {
    --primary-color: #acc2ab;
    --secondary-color: #063E0B;
    --color-green: #85B683;
    --bg-dark: #223224;
    --font-poppins: 'Poppins', sans-serif;
    --rounded: 8px;
}

body {
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
    text-align: center;
    background-image: url('/public/assets/img/ImageBackGround.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--rounded);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--bg-dark);
}

/* === HERO === */
.hero-section {
    background: linear-gradient(135deg, var(--primary-color) 70%, #e0f2fe 100%);
    padding: 4rem;
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    min-height: 45vh;
    position: relative;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.hero-logo {
    max-width: 300px;
}

.hero-logo img {
    transition: transform 0.3s ease;
}

.hero-logo img:hover {
    transform: scale(1.05);
}


.hero-content {
    flex: 1; /* Prend tout l'espace restant */
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-content h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--bg-dark);
    margin: 1rem auto;
    opacity: 0.7;
}

.hero-content p {
    font-size: 1.2rem;
    opacity: 0.9;
}


/* === CARD === */
.card-section {
    background-color: white;
    border-radius: var(--rounded);
    padding: 2rem;
    margin: 2rem auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    max-width: 1200px;
}

/* === Header / Logo VBO === */
.logo-club {
    width: 50%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.text-content {
    flex: 1;
    color: var(--bg-dark);
    font-size: clamp(1.2rem, 2vw + 1rem, 1.5rem);
}

/* === Navbar === */
.navbar {
    background-color: var(--primary-color);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1010;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-poppins);
    margin-left: 0;
}

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}


/* === Menu burger (mobile) === */
.navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: 20px;
    width: 30px;
    height: 25px;
}

/* === Liens du menu === */
.navbar-links {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.navbar-links a,
.dropdown button {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 12px 10px;
    font-family: var(--font-poppins);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--primary-color);
    cursor: url('/public/assets/img/volley-cursor32.png'), auto;
    border: none;
    font-size: 1.2rem;
}

.navbar-links a:hover,
.dropdown button:hover {
    color: var(--secondary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button::after {
    content: "▼";
    margin-left: 10px;
    font-size: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: var(--rounded);
}

.dropdown-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: var(--rounded);
}

.dropdown-content a:hover {
    background-color: white;
    color: var(--secondary-color);
    border-radius: var(--rounded);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* === Footer === */
.footer {
    background-color: var(--primary-color);
    color: var(--bg-dark);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--font-poppins);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.adresse,
.liens,
.réseaux {
    flex: 1 1 200px;
    padding: 0 20px;
}

.adresse p,
.liens p,
.réseaux h2 {
    margin: 0;
    padding: 10px 0;
}

.liens p a {
    color: var(--bg-dark);
    text-decoration: none;
}

.liens p a:hover {
    text-decoration: underline;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    filter: brightness(0.8);
}

.footer-copyright {
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid var(--bg-dark);
}